include Xrbfetch/resources/newblooms.all.fasta
include Xrbfetch/tests/metadata/test_md/md_colons.tsv
include Xrbfetch/tests/metadata/test_md/md_commas.tsv
include Xrbfetch/tests/metadata/test_md/md_tabs.tsv
include Xrbfetch/tests/metadata/test_md/md_missing.tsv
include Xrbfetch/tests/metadata/test_md/md_upper.tsv